header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6rem;
  border-bottom: 1px solid #777;
  padding-bottom: 1rem;
}

.header-title {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: .7rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 8rem;
}

.header-nav p {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.header-nav img {
  width: 48px;
  height: 48px;
  
}